.snowflake {
    position: fixed;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }